

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;

}

/*HEADER*/

.tamLogo {
    width: 250px;
}

.fuentesNav {
    font-size: 1.5rem;
    padding: 10px;
}

.encabezado {
    /* background-color: bisque; */
    border-top: solid 20px #000000;
    /* border-bottom: solid 1px #c1101a; */
    margin-bottom: 30px;
}

nav li a {
    text-transform: uppercase;
    text-decoration: none;
    margin: 15px;
    color: gray;
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    padding: 0 15px;
}

a:hover {
    background-color: #000000;
    color: #fafafa;
}

/* PRODUCTOS */

.tituloProductos {
    background-color: #000000;
    color: #fafafa;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
}

.tituloProductos h2 {
    font-size: 35px;
}


/*CARDS*/


.colorBtn {
    background-color: #000000;
    color: #fafafa;
    font-size: 18px;
}

.colorBtn:hover {
    background-color: rgb(0, 0, 0);
    color: #fafafa;
}


/*Cards*/

.card-img-top {
    height: 400px;
    /* Ajusta la altura deseada */
    object-fit: cover;
    object-position: center top;
}

.card-text {
    font-size: 25px;}

/* Estilos del formulario de inicio de sesión */
h1 {
    text-align: center;
}

.formulario {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.inputDatos {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.btnMios {
    width: 100%;
    padding: 10px;
    background-color: #E0AB54;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.btnMios:hover {
    background-color: #E0AB54;
}

i {
    font-size: 35px;
}

.btn-danger{
    background-color: #E0AB54;
    color: #fff;
    border: none;
}

.btn-success{
    background-color: #000000;
    color: #fff;
    border: none;
}

.grupo-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.text-right {
    text-align: right;
}

.noSub {
    text-decoration: none;
    text-align: center;
}

.formulario span {
    font-weight: bold;
}

.tienda-btn-container {
    margin-top: 20px; /* Ajusta el valor según el espacio que se desee */
}